.table-row-cell:selected {
    -fx-background-color:linear-gradient(from 0% 0% to 100% 100%, white 0%, #007bff 65%, white 100%);
    -fx-font-weight: BOLD;
    -fx-font-size: 20;
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: WHITE !important;
}

#tblOrderID .table-cell {
    -fx-alignment: CENTER;
    /*!* The rest is from caspian.css *!

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; !* 2px, plus border adds 1px *!

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; !* 1 *!
    -fx-cell-size: 2.0em; !* 24 *!
    -fx-text-fill: -fx-text-inner-color;*/
}